// Colors
$pimary-color: #000;
$secondary-color: #fff;
$darken: #2c2e3f;
$deep-darken: #141517;
$accent-hover: #f17d4b;
$accent-basic: #fe7865;
;





$basic-green: tan;
$basic-gray: #f2f2f2;

// Fonts
$font-family: "Montserrat", sans-serif;

$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-little-big: 18px;
$font-size-big: 20px;
$font-size-large: 24px;
$font-size-huge: 36px;
$font-size-enormous: 60px;

$font-weight-regular: 400;
$font-weight-medium: 500;

$line-height-big: 40px;
$line-height-large: 50px;

// Breakpoints
