.detals {
  margin: -20px 0 0 0;

  @media (max-width: $breakpoint-tablet) {
    margin: 0;
    padding: 60px 0 0 0;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 5px 0 0 0;
  }
}

.detals__tab-buttons {
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  width: 900px;
  border-bottom: 1px solid $ultra-light;

  @media (max-width: $breakpoint-tablet) {
    margin: 0 30px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin: 0 10px;
  }
}

.detals__tab-button {
  color: $darken;
  font-size: $font-size-big;
  font-weight: $font-weight-medium;
  line-height: 2.8;
  opacity: 0.3;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $accent-hover;
    transition: 0.4s;
  }
}

.detals__tab-button--active {
  color: $accent-basic;
  opacity: 1;
}

.detals__tab-blocks {
  position: relative;
  width: 100%;
  padding: 75px 0 0 0;

  @media (max-width: $breakpoint-tablet) {
    padding: 0;
  }
}

.detals__tab-block {
  width: 900px;
  min-height: 596px;

  @media (max-width: $breakpoint-tablet) {
    width: 768px;
    min-height: 596px;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 320px;
  }
}

.detals__country {
  position: relative;
  display: flex;

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
  }
}

.detals__country-img {
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }
}

.detals__country-text-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto 0 0;
  padding: 10px 80px 15px 0;

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    padding: 30px 0;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 20px 0 50px 0;
  }
}

.detals__country-caption {
  position: relative;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-enormous;
  margin: 0;
  line-height: 90px;
  letter-spacing: -1.25px;

  @media (max-width: $breakpoint-tablet) {
    text-align: center;
    font-size: $font-size-huge;
    line-height: 45px;
    margin: 0 0 10px 0;
  }

  @media (max-width: $breakpoint-mobile) {
    line-height: 36px;
    font-size: $font-size-large;
  }
}

.detals__country-caption::after {
  position: absolute;
  top: 110px;
  left: 0;
  content: "";
  display: block;
  width: 30%;
  height: 3px;
  background-color: $accent-basic;
  opacity: 0.5;

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.detals__country-text {
  font-weight: $font-weight-regular;
  letter-spacing: -0.47px;
  line-height: 28px;
  opacity: 0.7;

  @media (max-width: $breakpoint-tablet) {
    text-align: center;
    padding: 0 30px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 0 20px;
  }
}

.detals__country-buy-link {
  @include primary-link-mixin($font-size-tiny, 75px, 250px);

  @media (max-width: $breakpoint-tablet) {
    @include primary-link-mixin($font-size-micro, 50px, 250px);
    align-self: center;
  }

  @media (max-width: $breakpoint-mobile) {
    @include primary-link-mixin($font-size-micro, 50px, 288px);
  }
}

.detals__country-reviews {
  position: absolute;
  top: calc(50% - 185px);
  left: calc(100% - 110px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 382px;
  min-height: 370px;
  padding: 30px 15px 30px 30px;
  background-color: $secondary-color;

  @media (max-width: $breakpoint-tablet) {
    top: calc(100% - 335px);
    left: calc(50% - 190px);
  }

  @media (max-width: $breakpoint-mobile) {
    width: 268px;
    text-align: center;
    top: calc(100% - 375px);
    left: calc(50% - 136px);
    padding: 40px 20px 25px 20px;
    min-height: 430px;
  }
}

.detals__reviews-caption {
  position: relative;
  font-weight: $font-weight-medium;
  font-size: $font-size-huge;
  line-height: 37px;
  margin: 0 0 25px 0;

  @media (max-width: $breakpoint-mobile) {
    font-size: $font-size-big;
    text-align: center;
  }

  @media (max-width: $breakpoint-mobile) {
    margin: 0 0 20px 0;
    line-height: 24px;
    letter-spacing: -0.69px;
  }
}

.detals__reviews-caption::after {
  &::before {
    position: absolute;
    content: "";
    top: 50px;
    left: 0;
    display: block;
    width: 68px;
    height: 2px;
    background-color: $accent-basic;

    @media (max-width: $breakpoint-mobile) {
      top: 35px;
      left: 80px;
    }
  }
}

.detals__country-reviews-text {
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  opacity: 0.7;
  line-height: 28px;

  @media (max-width: $breakpoint-mobile) {
    text-align: center;
  }

  @media (max-width: $breakpoint-mobile) {
    line-height: 28px;
    letter-spacing: -0.41px;
  }
}

.detals__author {
  display: flex;
  align-items: center;
  margin: auto 0 0 0;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }
}

.detals__author-name {
  font-weight: $font-weight-medium;
  margin: 0 0 0 20px;
  letter-spacing: -0.41px;

  @media (max-width: $breakpoint-mobile) {
    margin: 15px 0 0 15px;
  }
}
