.detals {
  background-color: aquamarine;
}

.detals__tab-buttons {
  display: flex;
  justify-content: space-between;
  width: 900px;
  background-color: azure;
}

.detals__tab-button {
  color: $darken;
  font-size: $font-size-big;
  font-weight: $font-weight-medium;
  line-height: 2.8;
  opacity: 0.3;

  &:hover,
  &:focus {
    color: $accent-hover;
    transition: 0.4s;
  }
}

.detals__tab-button--active {
  color: $accent-basic;
  opacity: 1;
}

.detals__tab-blocks {
  position: relative;
  width: 100%;
  background-color: blueviolet;
}

.detals__tab-block {
  width: 900px;
  min-height: 596px;
  background-color: purple;
}

.detals__country-caption {
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-enormous;
  margin: 0;

  @media (max-width: $breakpoint-tablet) {
    text-align: center;
    font-size: $font-size-huge;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: $font-size-large;
  }
}

.detals__country-text {
  font-weight: $font-weight-regular;
  opacity: 0.7;

  @media (max-width: $breakpoint-tablet) {
    text-align: center;
  }
}

.detals__country-buy-link {
  @include primary-link-mixin($font-size-tiny, 75px, 250px);

  @media (max-width: $breakpoint-tablet) {
    @include primary-link-mixin($font-size-micro, 50px, 250px);
  }

  @media (max-width: $breakpoint-mobile) {
    @include primary-link-mixin($font-size-micro, 50px, 288px);
  }
}

.detals__country-reviews {
  background-color: palegreen;
}

.detals__reviews-caption {
  font-weight: $font-weight-medium;
  font-size: $font-size-huge;
  margin: 0;

  @media (max-width: $breakpoint-mobile) {
    font-size: $font-size-big;
    text-align: center;
  }
}

.detals__country-reviews-text {
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  opacity: 0.7;

  @media (max-width: $breakpoint-mobile) {
    text-align: center;
  }
}

.detals__author-name {
  font-weight: $font-weight-medium;
}
