.feedback {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  min-height: 455px;
  background-color: yellow;
}

.feedback__caption {
  margin: 0;
  font-size: $font-size-largest;
  font-weight: $font-weight-semi-bold;
}

.feedback__form-container {
  text-align: center;
  width: 656px;
  min-height: 315px;
  background-color: plum;
}

.feedback__inner-wrapper {
  display: flex;
}

.feedback__field::placeholder {
  font-size: $font-size-small;
}

.feedback__button {
  @include primary-link-mixin($font-size-tiny, 50px, 178px);

  @media (max-width: $breakpoint-tablet) {
    @include primary-link-mixin($font-size-micro, 50px, 250px);
  }

  @media (max-width: $breakpoint-mobile) {
    @include primary-link-mixin($font-size-micro, 50px, 288px);
  }
}
