.header {
  display: flex;
  align-items: center;
  min-height: 100px;
  background-color: $secondary-color;
  // font-weight: 700;
  color: $pimary-color;
  outline: 2px dotted aqua;
}
.header__logo-pic {
  margin: 0 auto 0 0;
}
