.navigation__list {
  display: flex;
  justify-content: space-between;
  color: $deep-darken;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;

  @media (max-width: $breakpoint-tablet) {
    font-size: $font-size-big;
    font-weight: $font-weight-semi-bold;
    color: $light-darken;
  }

  &:hover,
  &:focus {
    color: $accent-hover;
    transition: 0.4s;
  }
}
