.navigation__list {
  display: flex;
  justify-content: space-between;
  color: $deep-darken;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  padding: 0 40px;

  @media (max-width: $breakpoint-tablet) {
    position: absolute;
    top: 50px;
    right: 0;
    // display: none;
    box-sizing: border-box;
    width: 320px;
    min-height: 518px;
    padding: 80px 0;
    font-size: $font-size-big;
    font-weight: $font-weight-semi-bold;
    color: $light-darken;
    background-color: transparent;
  }

  &:hover,
  &:focus {
    color: $accent-hover;
    transition: 0.4s;
  }
}

.navigation__list--hidden {
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.navigation__list--noscript {
  display: none;

  @media (max-width: $breakpoint-tablet) {
    position: relative;
    top: 0;
    display: block;
    width: 100%;
    min-height: auto;
    padding: 0;
  }
}

.navigation__link {
  padding: 0 20px;

  @media (max-width: $breakpoint-tablet) {
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-height: 60px;
    margin: 0 0 30px 0;
    line-height: 60px;
    background-color: $ultra-light;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1.4L4.6 6L0 10.6L1.4 12L7.4 6L1.4 0L0 1.4Z' fill='currentColor' fill-opacity='0.5'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: 95% center;
  }
}
