.page__page-container {
  width: 1200px;
  margin: 0 auto;
  outline: 2px dashed red;

  @media (max-width: $breakpoint-tablet) {
    background-color: plum;
    max-width: $tablet-viewport;
  }

  @media (max-width: $breakpoint-mobile) {
    background-color: aquamarine;
    max-width: $mobile-viewport;
    min-width: $min-mobile-viewport;
  }
}
