.prices {
  display: flex;
  justify-content: space-between;
  background-color: paleturquoise;
}

.prices__tariff {
  display: flex;
  justify-content: space-between;
}

.prices__tariff--complex {
  color: $accent-basic;
}

.prices__offer {
  display: flex;
  flex-direction: column;
  width: 370px;
  min-height: 672px;
  outline: 2px dashed aquamarine;
}

.prices__offer--complex {
  border: 3px solid $accent-basic;
  border-radius: 6px;
}

.prices__offer--econom {
  border: 3px solid $darken;
  border-radius: 6px;
}

.prices__tariff-name {
  font-size: $font-size-giant;
  font-weight: $font-weight-semi-bold;

  @media (max-width: $breakpoint-tablet) {
    font-size: $font-size-large;
  }
}

.prices__tariff-price {
  font-size: $font-size-largest;
  font-weight: $font-weight-bold;
}

.prices__call-us-text {
  font-size: $font-size-biggest;
  font-weight: $font-weight-medium;
  text-align: center;

  @media (max-width: $breakpoint-tablet) {
    font-size: $font-size-little-big;
  }
}

.prices__contact {
  font-size: $font-size-big;
  text-align: center;

  @media (max-width: $breakpoint-tablet) {
    color: $accent-basic;
    font-size: $font-size-little-big;
  }

  &:hover,
  &:focus {
    color: $accent-hover;
    transition: 0.4s;
  }
}

.prices__buy-link {
  @include primary-link-mixin($font-size-tiny, 75px, 310px);
  align-self: center;

  @media (max-width: $breakpoint-tablet) {
    @include primary-link-mixin($font-size-micro, 50px, 288px);
  }
}

.prices__capture {
  margin: 0;
  font-size: $font-size-enormous;
  font-weight: $font-weight-semi-bold;

  @media (max-width: $breakpoint-tablet) {
    font-size: $font-size-huge;
    text-align: center;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: $font-size-large;
  }
}

.prices__description {
  opacity: 0.7;

  @media (max-width: $breakpoint-tablet) {
    text-align: center;
  }
}
